button,
form,
input {
    margin: 10px;
    border-radius: 75px;
}

#container {
    margin-top: 100px;
    text-align: center;
}

#gifs {
    background-color: black;
    margin: 30px 350px;
}

@media screen and (max-width: 640px) {
    #gifs {
        background-color: black;
        margin-top: 40px;
    }
}