form,
input,
.cartoon {
    margin: 20px;
}

#myVideo {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}

@media (min-aspect-ratio: 16/9) {
    #myVideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #myVideo {
        width: auto;
        height: 100%;
    }
}

@media screen and(max-width: 640px) {
    body {
        text-align: center;
    }
}

#container {
    position: relative;
    margin-top: 100px;
    text-align: center;
}

label {
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #06D6A0, 0 0 30px #009FFD;
}

input[type=text] {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #06D6A0;
    border-radius: 3em;
    background: rgba(255, 255, 255, 0);
    outline: none;
    color: white;
}

#enterSpacething {
    width: 400px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

button {
    color: #fff;
    border: 1px solid #009FFD;
    padding: 15px;
    background: rgba(255, 255, 255, 0);
    transition: all 0.9s;
    font-weight: 800;
}

button:hover {
    color: #000000;
    background-color: #06D6A0;
}

#gifs {
    margin: 0 auto;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}


/* *****************************************************svg start************************************* */

html,
css {
    width: 100%;
    height: 100%;
}

.svg-wrapper {
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

#text {
    margin-top: -35px;
    text-align: center;
}

#text a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}


/* ***********************svg end ************************************************************************/


/*  */