form,
input,
.cartoon {
    margin: 20px;
    border-radius: 30px;
}

button,
#add-cartoon {
    background-image: url('/assets/images/background-blur-close-up-1044990.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#add-cartoon {
    margin-top: 20px;
}

#container {
    margin-top: 100px;
    text-align: center;
}

#gifs {
    background-color: black;
    margin: 30px 350px;
}

@media screen and (max-width: 640px) {
    #gifs {
        background-color: black;
        margin-top: 40px;
    }
}